@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
  box-sizing: border-box;
  animation: bluring 1s ease-in-out;
}

@keyframes bluring {
  from{
    filter: blur(3px);
  }
  to{
    filter: blur(0);
  }
}
*::selection{
  background: #fe4b4b ;
  color: white;
}

body{
  font-family: 'Source Code Pro', monospace;
}
ul,li{
  padding: 0;
  margin:0;
}
a{
  text-decoration: none;
  color: navy;
}
h1{
  color: rgb(254, 75, 75);
}
.section{
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 30px 30px 30px 30px;
}

/*------Фон------*/
.background{
  display: flex;
  position: fixed;
  z-index: -20;
  width: 300%;
  height: 400%;
  /*top:-50%;*/
  left:-30%;
  justify-content:flex-start;
  background-color: white;
  transform: rotate(45deg);
}

.band{
  border-radius: 75px;
  z-index: -19;
  width: 150px;
  height: 100%;
  margin-right: 100px;
  background-color: rgba(254, 75, 75, 0.7);
  animation: mercanie 5s linear infinite;
}
@keyframes mercanie {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.band1{
  animation: katanie 10s ease-in-out infinite;
}

.band3{
  animation: katanie 12s ease-in-out 2s infinite;
}

.band5{
  animation: katanie 10s ease-in-out 4s infinite;
}
.band6{
  animation: katanie 15s linear 2s infinite;
}
@keyframes katanie {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/*-----Шапка-------*/

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px dashed #fe4b4b;
  padding-bottom: 30px;
  height: 180px;
}

.fact-logo{
  flex-grow: 1;
}
.fact_image{
  background-image: url("../img/logo-f-nvi.svg");
  width: 230px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo{
  width: 70px;
  height: 70px;
  transition: transform 0.4s ease-in-out;
}
.flexgrid{
  width: 60px;
  height: 60px;
}
.menu{
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}
.nav-title{
  position: absolute;
  color: white;
  background-color:#fe4b4b;
  border-radius: 0 15px 15px 15px;
  padding: 10px;
  top:57px;
  left: 65px;
  z-index: 2;
  transition: transform 0.4s ease-in-out;
  transform: scale(0,0);
}
.link{
  position: relative;
}
.link:hover .nav-title{
  transform: scale(1.2,1.2);
}
.link:hover .logo{
  transform: rotate(360deg) scale(1.4);
}

/*-------Основная часть------*/

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  border-left: 2px dashed #fe4b4b;
  border-bottom: 2px dashed #fe4b4b ;
  border-right: 2px dashed #fe4b4b;
}
.me{
  flex-grow: 2;
  margin-right: 20px;
  max-width: 350px;
  max-height: 500px;
  filter: brightness(1.4);
  transition: filter 0.3s linear;
}
.me:hover{
  filter: brightness(2);
}
.info{
  flex-grow: 1;
  text-align: center;
}
.about{
  display: flex;
  flex-direction: row;
}
.bio{
  flex: 3 1 320px;
  margin-right: 10px;
  padding: 20px;
  border: 2px dashed rgb(254, 75, 75);
  overflow: visible;
  text-align: left;
  min-width: 320px;
}
.links{
  flex:1 20 320px;
  padding: 20px;
  height: 421px;
  border: 2px dashed rgb(254, 75, 75);
  min-width: 135px;
}
.list{
  list-style-type: none;
  padding: 0;
}

.item{
  margin-bottom: 30px;
}
.bio-techs{
  padding: 0;
  margin: 0;
}
progress{
  position: absolute;
  left:130px;
}
.bio-techs-item{
  position: relative;
}

/*--------Футер-------*/

.footer{
  align-self: center;
  position: fixed;
  bottom: 30px;
  left:0;
  right: 0;
  border: 1px solid #fe4b4b;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
}

/*.socials{*/
/*  flex-grow: 1;*/
/*}*/

.medias-contacts-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.medias-contacts-item{

}
.medias-link{
  color:rgb(254, 75, 75);
}

/*----Медиа-запросы-----*/

@media (max-width: 1000px) {
  .background{
    display: none;
  }
  .me{
    border-radius: 200px;
    margin: 0;
  }
  .header{
    flex-direction: column;
    border-left: 2px dashed #fe4b4b;
    border-right: 2px dashed #fe4b4b;
    border-top: 2px dashed #fe4b4b;
  }
  .menu {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main{
    flex-direction: column;
    align-items: center;
  }
  .bio{
    margin: 0 20px 0 0;
  }
  .medias-contacts-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .medias-contacts-item{
    margin-bottom: 10px;

  }
  .footer {
    position: relative;
    /*margin-top:35px;*/
    bottom:0;
    border-radius: initial;
    border-top:0;
  }
  progress{
    position: relative;
    display:block;
    left: 0;
  }
  .footer{
    border: 2px dashed #fe4b4b;
    border-top: none;
  }
}
@media (max-width: 500px){
  .about{
    flex-direction: column;
  }
  .bio{
    margin-right: 0;
    margin-bottom: 10px;
  }
  .medias-contacts-list{
    display: grid;
    grid-template-columns: 1fr;
  }

}
